body {
    padding-top: 120px;
}

.container {
    padding-top: 65px;
    padding-inline: 175px !important;
}

#contact {
    padding-top: 0px;
}

.ext-link {
    text-decoration: none;
    margin: 35px;
}
