body {
    padding-top: 120px;
}

.container {
    padding-top: 65px;
    padding-inline: 10% !important;
}

#contact {
    padding-top: 0px;
}

.ext-link {
    text-decoration: none;
    margin: 35px;
}

.embedded-link {
    text-decoration: none;
}

.embedded-link:hover {
    text-decoration: underline;
}

.embedded-link:visited {
    text-decoration: none;
}

.card-text {
    padding: 1em 0 0 0;
}
